h3 {
    font-size: 30px;
    width: 10vw;
    color: brown;
    font-weight: bolder;
  }
  .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: rgb(39, 0, 77);
      height: 100px;
      padding: 0 200px;
  }
  .search {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
  }
  .form1 {
    display: flex;
  }
  .input {
    border: none;
    min-width: 300px;
    width: max-content;
    height: 30px;
    font-size: 16px;
  }
  .input:focus {
    outline: none;
  }
  .get {
    font-size: 14px;
    max-height: 30px;
    width: 100px;
    border: none;
    background: rgb(102, 4, 4);
  }
  .form2 {
    display: flex;
  }
  .popular {
    font-size: 14px;
    height: 30px;
    width: 100px;
    border: none;
    background: rgb(102, 4, 4);
  }
  
  /* main */
  .main {
    padding: 0px 200px;
    margin-top: 50px;
    max-width: inherit;
  }
  .cards {
    width: 100%;  
    height: max-content; 
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
    gap: 20px;
  }
  .card {
    background: black;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .watch {
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: white;
    height: 12%;
    background-color: rgb(102, 4, 4);
    text-align: center;
  }
  .name {
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    /* padding: px; */
    padding-top: 150px;
    display: flex;
    height: 100%;
    opacity: .6;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: ; */
  }