@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;}

body {
    width: 100vw;
    min-height: 100vh;
    background: rgb(24, 7, 46);
}

::-webkit-scrollbar {
    display: none;
}